.screen-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

.output {
  flex: 2;
  width: 100%;
  font-size: 20px;
  text-align: end;
  word-wrap: break-word;
}

.input {
  flex: 1;
  width: 100%;
  font-size: 16px;
  text-align: end;
  word-wrap: break-word;
}